.deck-gl-mn{
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    height: 100%;
    width: 100%;
    background-color: var(--card-clr);
    color: var(--text-clr-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;   
    gap:5px;
}

.deck-gl-mn h4{
    text-align: center;
    margin: 0;
    margin-bottom: 6px;
    color:var(--text-clr);
}

.deck-gl-crd{
    height:100%;
    width: 100%;
    background: var(--bg-mn-clr);
    border-radius: 3px;
    padding:2px;
}

.deck-gl-crd p{
    margin: 0;
    font-size: 12px;
    color:var(--text-clr)
}