.alert-tray{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;;
    gap:10px;
}

.alert-tray a{
    width: var(--card-width);
    min-width: var(--card-min-width);
    max-width: var(--card-max-width);
}

.no-alert{
    width:100%;
    height:160px;
    border-radius: 10px;
    border: 2px dashed var(--border-clr)
}

.no-alert h2{
    margin: 0;
}
.no-alert span{
    opacity: 0.5;
}